In [1]:
# Import the required libraries
import pandas as pd

This notebook is mostly concerned with creating Neighboorhood to Community mapping since both kinds of data aggregation
method will be used in furhter analysis for creating various plots, heatmaps, etc.

In [2]:
# Input data to an Excel CSV file
minneapolis_schools_df = pd.read_csv('data/csv_files/minneapolis_schools.csv')
minneapolis_schools_df

,Unnamed: 0,School ID,School Name,Latitude Longitude,Student Population,Free Discount Lunch,Students Per Teacher,Rank Stars,Rank Level,Rank Statewide,Average Standard Score,Neighborhood
0,0,2.721240e+11,Andersen Community,"44.953311, -93.258819",890,93.48,11.0,0.0,Elementary,2.56,2.87300,Midtown Phillips
1,1,2.721240e+11,Anishinabe Academy,"44.952574, -93.225694",255,91.76,13.4,0.0,Elementary,0.47,1.54180,Longfellow
2,2,2.721240e+11,Armatage Elementary,"44.900839, -93.311231",615,24.55,18.8,5.0,Elementary,97.09,90.13083,Southwest Minneapolis
3,3,2.721240e+11,Bancroft Elementary,"44.933831, -93.255809",505,77.43,11.9,1.0,Elementary,11.64,12.28741,Bancroft
4,4,2.721240e+11,Barton Open Elementary,"44.925493, -93.291563",699,43.63,16.9,2.0,Elementary,40.05,49.31851,Southwest Minneapolis
...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,2.721240e+11,Mps Metro Sj,"44.942078, -93.260772",23,86.96,5.7,NaN,NaN,NaN,NaN,Powderhorn Park
98,98,2.721240e+11,Nonpublic Sp Educational Program,"44.994326, -93.256289",0,NaN,NaN,NaN,NaN,NaN,NaN,Northeast Minneapolis
99,99,2.721240e+11,River Bend Educational Center,"44.981225, -93.299478",86,93.02,4.2,NaN,NaN,NaN,NaN,Glenwood Avenue
100,100,2.721240e+11,Ronald McDonald House,"44.969978, -93.225907",7,NaN,8.2,NaN,NaN,NaN,NaN,Prospect Park
101,101,2.721240e+11,Special Education,"44.994326, -93.256289",0,NaN,0.0,NaN,NaN,NaN,NaN,Northeast Minneapolis

In [3]:
# Input file with Neighborhood to Community dictionary provided to me by our teammate. Data provided needed to be
# augmented and add more entries needed to do the mappigns correctly.
neighborhood_community = pd.read_excel('data/csv_files/community_nbhd.xlsx', index_col='Neighborhood')
neighborhood_community

                           Community
Neighborhood
Bryn Mawr               Calhoun-Isle
Calhoun Isles           Calhoun-Isle
Carag                   Calhoun-Isle
Cedar-Isles-Dean        Calhoun-Isle
East Isles              Calhoun-Isle
...                              ...
Mid City Industrial Ar    University
Nicollet Is/East Bank     University
Prospect Park             University
Prospect Pk/E River Rd    University
University                University

[98 rows x 1 columns]

In [4]:
# Create a seriess to contained Community values corresponding to the Neighborhoods
community = []

for neighb in minneapolis_schools_df['Neighborhood']:
    try:
        comm = neighborhood_community.loc[neighborhood_community.index == neighb].loc[neighb].loc['Community']
        community.append(comm)
    except:
        print(f"Mapping is not provided for {neighb} Neighborhood")
        
print(community)

['Phillips', 'Longfellow', 'Southwest', 'Powderhorn', 'Southwest', 'Near North', 'Calhoun-Isle', 'Southwest', 'Camden', 'Longfellow', 'Near North', 'Powderhorn', 'Central', 'Powderhorn', 'Powderhorn', 'Nokomis', 'Near North', 'Longfellow', 'Near North', 'Longfellow', 'Calhoun-Isle', 'Camden', 'Southwest', 'Calhoun-Isle', 'Southwest', 'Nokomis', 'Camden', 'Camden', 'Powderhorn', 'Northeast', 'Near North', 'Nokomis', 'Northeast', 'University', 'Near North', 'Longfellow', 'Longfellow', 'Northeast', 'Longfellow', 'Northeast', 'Northeast', 'Powderhorn', 'Southwest', 'Southwest', 'Calhoun-Isle', 'Nokomis', 'Near North', 'Southwest', 'Southwest', 'Nokomis', 'Northeast', 'Camden', 'Longfellow', 'Near North', 'Near North', 'Northeast', 'Longfellow', 'Longfellow', 'Near North', 'Phillips', 'Phillips', 'Northeast', 'Northeast', 'Central', 'Near North', 'Camden', 'Camden', 'University', 'University', 'Longfellow', 'Longfellow', 'Central', 'Central', 'Northeast', 'Northeast', 'Powderhorn', 'Powderhorn', 'Near North', 'Powderhorn', 'Near North', 'Near North', 'Near North', 'Near North', 'Powderhorn', 'Powderhorn', 'Southwest', 'Southwest', 'Central', 'Powderhorn', 'Longfellow', 'Longfellow', 'Southwest', 'Southwest', 'Powderhorn', 'Powderhorn', 'Central', 'Northeast', 'Powderhorn', 'Northeast', 'Near North', 'University', 'Northeast']

In [5]:
minneapolis_schools_df['Community'] = community
minneapolis_schools_df

,Unnamed: 0,School ID,School Name,Latitude Longitude,Student Population,Free Discount Lunch,Students Per Teacher,Rank Stars,Rank Level,Rank Statewide,Average Standard Score,Neighborhood,Community
0,0,2.721240e+11,Andersen Community,"44.953311, -93.258819",890,93.48,11.0,0.0,Elementary,2.56,2.87300,Midtown Phillips,Phillips
1,1,2.721240e+11,Anishinabe Academy,"44.952574, -93.225694",255,91.76,13.4,0.0,Elementary,0.47,1.54180,Longfellow,Longfellow
2,2,2.721240e+11,Armatage Elementary,"44.900839, -93.311231",615,24.55,18.8,5.0,Elementary,97.09,90.13083,Southwest Minneapolis,Southwest
3,3,2.721240e+11,Bancroft Elementary,"44.933831, -93.255809",505,77.43,11.9,1.0,Elementary,11.64,12.28741,Bancroft,Powderhorn
4,4,2.721240e+11,Barton Open Elementary,"44.925493, -93.291563",699,43.63,16.9,2.0,Elementary,40.05,49.31851,Southwest Minneapolis,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,2.721240e+11,Mps Metro Sj,"44.942078, -93.260772",23,86.96,5.7,NaN,NaN,NaN,NaN,Powderhorn Park,Powderhorn
98,98,2.721240e+11,Nonpublic Sp Educational Program,"44.994326, -93.256289",0,NaN,NaN,NaN,NaN,NaN,NaN,Northeast Minneapolis,Northeast
99,99,2.721240e+11,River Bend Educational Center,"44.981225, -93.299478",86,93.02,4.2,NaN,NaN,NaN,NaN,Glenwood Avenue,Near North
100,100,2.721240e+11,Ronald McDonald House,"44.969978, -93.225907",7,NaN,8.2,NaN,NaN,NaN,NaN,Prospect Park,University
101,101,2.721240e+11,Special Education,"44.994326, -93.256289",0,NaN,0.0,NaN,NaN,NaN,NaN,Northeast Minneapolis,Northeast

In [6]:
# Output File (CSV)
output_data_file_1 = "data/csv_files/minneapolis_schools_communities.csv"
# Output data to an Excel CSV file
minneapolis_schools_df.to_csv(output_data_file_1)

In [7]:
minneapolis_schools_community_df = minneapolis_schools_df[minneapolis_schools_df["Rank Stars"] != "NaN"].groupby("Community")\
["Rank Stars", "Rank Statewide", "Free Discount Lunch", "Average Standard Score", "Student Population", "Students Per Teacher"].mean()
minneapolis_schools_community_df

C:\Users\bartc\.conda\envs\PythonData\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Users\bartc\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Rank Stars,Rank Statewide,Free Discount Lunch,Average Standard Score,Student Population,Students Per Teacher
Community,,,,,,
Calhoun-Isle,1.000000,18.372500,64.770000,21.349088,444.000000,14.200000
Camden,0.200000,7.562000,69.027143,8.295138,431.428571,13.300000
Central,0.500000,19.290000,70.376000,22.734155,137.833333,11.620000
Longfellow,1.666667,31.716667,67.209091,34.067445,272.857143,14.470000
Near North,0.000000,3.047143,72.557143,3.763163,157.176471,9.010000
Nokomis,4.000000,77.390000,27.554000,74.227783,480.200000,18.360000
Northeast,0.857143,20.754286,69.600000,24.382581,261.714286,12.200000
Phillips,0.000000,2.560000,60.946667,2.873000,312.666667,11.050000
Powderhorn,0.444444,10.860000,73.456923,12.050402,436.533333,12.591667
Southwest,3.600000,70.815000,27.779091,70.419420,725.384615,18.809091
University,0.500000,11.825000,71.440000,14.364195,121.000000,12.733333

In [8]:
# Output File (CSV)
output_data_file_2 = "data/csv_files/community_based_school_data.csv"
# Output data to an Excel CSV file
minneapolis_schools_community_df.to_csv(output_data_file_2)